*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('bg.jpeg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    overflow: hidden;
    height: 100vh;
    width: 100vw;

}
/* #vid{
    align-self: center;
    margin: auto;
} */
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #f3f3f3;
    z-index: 110;
}
.right{
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}
.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startmenu img{
    border-radius: 8px;
}
.icons{
    color: black;

}